<div class="post">
  <div class="post-content">
    <h2><%= post.title %></h2>
    <% if (post.content) { %>
      <p><%= post.content %></p>
    <% } %>
  </div>

  <% if (user) { %>
    <% if (user.hasMembership) { %>
      <div class="post-bottom">
        <a href="/users/<%=post.author.username%>" class="author">
          <img src="<%= post.author.profileImage || '/img/users/profile/default.jpg'%>" alt="">
          <%= post.author.fullName %>
        </a>
      
        <div>
          <p><%= post.createdAt.toLocaleString('pt-BR') %></p>
  
          <% if (user.isAdmin && showActions) { %>
            <div class="post-actions">
              <a href="/posts/<%= post.id %>/remove" class="btn" aria-label="Remover post" title="Remover">
                <i class="bi bi-trash3"></i>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
</div>